.content {
  float: left;
  position: relative;
  width: 100%;
}

.content_loading {
  @extend %spinner;
  margin: $g;
}

.content_lanes {
  display: table;
  opacity: 0;

  &.-rendered {
    @include transition(opacity);
    opacity: 1;
  }
}

.content_svg-overlay {
  pointer-events: none; // TODO: Find a way to ignore pointer events in IE<10
  position: absolute;
  top: 0;
}
