.content {
  width: 100%;
  float: left;
}

.content_loading {
  @include spinner($grid, border-color $alpha-color);
  margin: $grid;
}

.content_lanes {
  opacity: 0;

  &.-rendered {
    @include transition(opacity);
    opacity: 1;
  }
}
