.content {
  width: 100%;
  margin-top: (-.25 * $grid + $border-width);
  float: left;
}

.content_loading {
  @include spinner($grid, border-color $border-color);
  margin: $grid;
}

.content_lanes {
  opacity: 0;

  &.-rendered {
    @include transition(opacity);
    opacity: 1;
  }
}
