$drag-handle-height: 3.5 * $u !default; // no unit

.drag-handle {
  bottom: 0;
  cursor: ew-resize;
  margin-left: (-$g / 4);
  padding: ($g / 2) 0;
  position: absolute;
  top: ($g / 2);
  width: ($g / 2 + 2 * $border-width);
  z-index: 1;

  $buttonSvgOutline: "M#{$u / 4 + .5}, 0\
    c0, #{$u / 4}, #{$u / 4}, #{$u / 4}, #{$u / 4}, #{$u / 2}\
    l0, #{$drag-handle-height - 2 * $u / 2}\
    c0, #{$u / 4}, #{-$u / 4}, #{$u / 4}, #{-$u / 4}, #{$u / 2}\
    c0, #{-$u / 4}, #{-$u / 4}, #{-$u / 4}, #{-$u / 4}, #{-$u / 2}\
    l0, #{-$drag-handle-height + 2 * $u / 2}\
    c0, #{-$u / 4}, #{$u / 4}, #{-$u / 4}, #{$u / 4}, #{-$u / 2}\
    Z";

  $buttonSvgLine: "M#{$u / 4 + .5}, #{$u / 2}\
    l0, #{$drag-handle-height - $u}";


  @include hover {
    background: svg(
      $g / 2 + 2 * $border-width,
      999px,
      "<path d='#{$buttonSvgOutline}' stroke='#{color-to-string($border-color)}' style='stroke-width: #{$border-width}' fill='#{color-to-string($highlight-color)}'/>\
      <path d='#{$buttonSvgLine}' stroke='#{color-to-string($link-hover-color)}' style='stroke-width: #{$border-width}' />"
    ) center center no-repeat;
  }

}
