footer {
  @include border(top);
  color: $text-color;
  float: left;
  text-shadow: 0 -1px 0 $shade-medium;
  width: 100%;
  position: relative;

  a {
    color: $alpha-color;

    @include hover {
      color: $alpha-color;
    }
  }

  svg {
    width: 60%;
  }

  .footer {
    width: 50%;
    margin: $g/2 auto;
    display: flex;
  }

  .footer_links {
    width: 50%;
    a {
      padding-right: (3 * $g);
    }
  }
  .footer_logo {
    width: 50%;
    text-align: right;
  }
}
