.header {
  @include border(bottom);
  @include drop-shadow;
  position: relative;
  float: left;
  width: 100%;
  background: $noise;
}

.header_logo {
  position: absolute;
  left: ($g / 2);
  margin: (-1.25 * $g) ($g / 4) 0 (-$g / 4);
  padding: ($g / 4);
  border-radius: 50%;
  background: $noise;

  // Rounded bottom border
  @include after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 -1px 0 $border-color inset;
    clip: rect((4.25 * $g), 999em, 999em, 0);
  }

  img {
    display: block;
    width: (4 * $g);
    height: auto;
  }
}

.header_main {
  padding: ($g / 2) 12em ($g / 2) (5 * $g); // Make room on right for header_aside
}

.header_aside {
  position: absolute;
  top: 0;
  right: 0;
  padding: ($g / 2);
}

.header_title {
  @include transition(all);
  @include typo-scale(1);
  margin: 0;

  .-scrolled & {
    @include typo-scale(0);
  }
}

.header_sender,
.header_recipient {
  color: $alpha-color;
}

.header_to {
  //@include icon('arrow-long-right', false);
  &:before {
    content: '\2192';
  }
}

.header_date {
  @include transition(all);

  .-scrolled & {
    font-size: $font-size-small;
    line-height: 1;
  }
}

.header_step {
  @include button('shady');
  user-select: none;

  &:hover {
    background: $shade;
  }

  &.-prev {
    @include icon('chevron-left', false, 1);
  }

  &.-next {
    @include icon('chevron-right', false, 1);
  }

  &.-disabled {
    color: $disabled-color;
  }
}

.header_current-letter {
  display: inline-block;
  position: relative;
  width: 4em;
  text-align: center;
}

.header_citation {
  text-align: center;
}

.header_cite-link {
  display: inline;
}

.header_below {
  position: absolute;
  text-align: center;
  width: 100%;
}

.header_toggle-metadata {
  @include font(highlight);
  @include icon('chevron-down', null);
  @include transition(background, color);
  position: relative;
  top: (-$g / 2);
  height: ($g + 2 * $border-width);
  width: (9 * $g);
  background:
    svg(
      7 * $g,
      $g + 2 * $border-width,
      "<path d='#{$buttonSvgPath}' stroke='#{color-to-string($border-color)}' style='stroke-width: #{$border-width}' fill='#{color-to-string($white)}'/>"
    ) center top no-repeat;

  @include hover {
    color: $link-hover-color;
    background:
      svg(
        7 * $g,
        $g + 2 * $border-width,
        "<path d='#{$buttonSvgPath}' stroke='#{color-to-string($border-color)}' style='stroke-width: #{$border-width}' fill='#{color-to-string($highlight-color)}'/>"
      ) center top no-repeat;
  }

  &.-open {
    @include icon('chevron-up', null);
  }
}
