.header {
  @include border(bottom);
  background: $noise;
  float: left;
  position: relative;
  width: 100%;
}

.header_logo {
  background: $noise;
  border-radius: 50%;
  left: ($g / 2);
  margin: (-1.25 * $g) ($g / 4) 0 (-$g / 4);
  padding: ($g / 4);
  position: absolute;

  // Rounded bottom border
  @include after {
    border-radius: 50%;
    box-shadow: 0 -1px 0 $border-color inset;
    clip: rect(4.25 * $g, 999em, 999em, 0);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }

  img {
    display: block;
    height: auto;
    width: (4 * $g);
  }
}

.header_main {
  height: (3 * $g);
  padding: ($g / 2) 12em ($g / 2) (5 * $g); // Make room on right for header_aside
}

.header_aside {
  padding: ($g / 2);
  position: absolute;
  right: 0;
  top: 0;
}

.header_title {
  @include typo-scale(1);
  color: $alpha-color;
  margin: 0;
}

.header_correspondents {
  display: inline-block;
}

.header_dates {
  display: inline-block;
}

.header_step {
  @include button('shady');
  user-select: none;

  @include hover {
    background: $shade;
    box-shadow: 0 0 $border-width $border-color inset;
  }

  &.-prev {
    @include icon('chevron-left', false, 1);
  }

  &.-next {
    @include icon('chevron-right', false, 1);
  }

  &.-disabled {
    color: $disabled-color;
  }
}

.header_below {
  font-size: 0; // Get rid of whitespace between buttons
  position: absolute;
  text-align: center;
  margin-top: -$g / 2;
  width: 100%;
  z-index: 2;
}

.header_toggle {
  @include font(highlight);
  @include header-button;
  @include icon('chevron-down', null);
  @include transition(background, color);

  &:not(:first-child):not(:last-child) {
    @include header-button(center);
  }

  &:first-child {
    @include header-button(left);
  }

  &:last-child {
    @include header-button(right);
  }

  &.-open {
    @include icon('cross', null);
  }
}
