.header {
  @include border(bottom);
  position: relative;
  width: 100%;
  height: (4.5 * $grid);
  padding: (.5 * $grid);
  background: $noise;
}

.header_logo {
  position: relative;
  margin: (-.75 * $grid) (.5 * $grid) 0 (-.25 * $grid);
  padding: (.25 * $grid);
  float: left;
  border-radius: 50%;
  background: $noise;

  // Rounded bottom border
  @include after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 -1px 0 $border-color inset;
    clip: rect((4.75 * $grid - $border-width), 999em, 999em, 0);
  }

  img {
    display: block;
  }
}

.header_main {
  padding-right: 10em; // Make room for header_aside
}

.header_aside {
  position: absolute;
  top: 0;
  right: 0;
  padding: (.5 * $grid);
}

.header_title {
  @include transition(all);
  @include typo-scale(1);
  margin: 0;

  .-scrolled & {
    @include typo-scale(0);
  }
}

.header_sender,
.header_recipient {
  color: $primary-color;
}

.header_to {
  //@include icon('arrow-long-right', false);
  &:before {
    content: '\2192';
  }
}

.header_date {
  @include transition(all);

  .-scrolled & {
    font-size: $font-size-small;
    line-height: 1;
  }
}

.header_metadata,
.header_pagination {
  text-align: right;
}

.header_step {
  position: relative;
  user-select: none;

  &.-prev {
    @include icon('chevron-left', false, 1);
  }

  &.-next {
    @include icon('chevron-right', false, 1);
  }

  &.-disabled {
    color: $disabled-color;
  }
}

.header_current-letter {
  display: inline-block;
  position: relative;
  width: 2em;
  margin: 0 .5em;
  text-align: center;
  vertical-align: top;
}
