.lane {
  display: table-cell;
  position: relative;
  vertical-align: top;

  &:nth-child(n+2) {
    border-left: $border-width $border-style $border-color;
  }
}

.lane_actions {
  @include transition(background, box-shadow);
  padding: ($g / 2);

  &.-fixed {
    background: $highlight-color;
    box-shadow: 0 -1px 0 $border-color inset, 0 $shadow-size $shadow-size (-$shadow-size) $shadow-color;
    position: relative;
    z-index: 1;
  }

  ul {
    margin: (-$g / 4) auto;
    font-size: 0;
    line-height: 0;
  }

  li {
    display: inline-block;
    margin: ($g / 4) ($g / 8);
    padding: 0 ($g / 8);
    font-size: $font-size;
    line-height: $line-height;
  }
}

.lane_content {
  padding: ($g / 2);

  td {
    padding: 0 ($g / 4);
  }
}

.lane_header {
  text-align: center;
}
