.lane {
  display: table-cell;
  padding: ($g / 2);
  position: relative;
  vertical-align: top;

  & + & {
    border-left: $border-width $border-style $border-color;
  }

  &.-minimized {
    display: none;
  }
}

.lane_actions {
  margin-bottom: $g;
  min-height: $g;

  ul {
    display: table;
    margin: 0 auto;
  }

  li {
    display: table-cell;
    padding: 0 ($g / 4);
  }
}

.lane_header {
  background: $shade;
  margin: (-$g / 2) (-$g / 2) ($g / 2);
  padding: ($g / 2);
  text-align: center;
}
