.lane-type {
  padding: ($g / 2) 0 0;
  position: relative;
}

.lane-type_toggle {
  @include transition(color);
  color: $text-color-light;
  display: inline-block;
}

.lane-type_dropdown {
  @extend %popup;

  &.-open {
    @extend %popup-visible;
  }
}

.lane-type_list {
  margin: (-$g / 4) (-$g / 2);
}

.lane-type_item {
  & + & {
    border-top: $border-width $border-style $border-color;
  }
}

.lane-type_button {
  color: $link-color;
  display: block;
  padding: ($g / 4) ($g / 2);
  width: 100%;

  @include hover {
    color: $link-hover-color;
  }
}
