.lane {
  display: table-cell;
  padding: ($g / 2);
  position: relative;
  vertical-align: top;

  & + & {
    border-left: $border-width $border-style $border-color;
  }

  &.-minimized {
    display: none;
  }
}

.lane_header {
  background: $shade;
  margin: (-$g / 2) (-$g / 2) $g;
  padding: ($g / 2);
  text-align: center;
}
