.metadata {
  @include border(top);
  display: none;
  clear: both;
  padding: ($g / 2);
  background: $highlight-color;

  h2 {
    margin-bottom: ($g / 2);
  }

  h3 {
    font-weight: bold;
    margin: 0;

    &:not(:first-child) {
      margin-top: ($g / 2);
    }
  }

  p,
  ol,
  ul {
    margin: 0;
  }

  a {
    @include link-border;
  }
}
