.nav {
  @include border(left);
  @include transition(right);
  position: fixed;
  top: 0;
  right: (-$nav-width);
  width: $nav-width;
  min-height: 100%;
  padding: $grid;
  background: $noise;

  &.-visible {
    right: 0;
  }
}

.nav_subheading {
  @include typo-scale(1);
  margin-bottom: (.5 * $grid);
}

.nav_link {
  &.-about {
    @include icon('info');
  }

  &.-back {
    @include icon('arrow-with-circle-left');
    font-weight: bold;
  }

  &.-contact {
    @include icon('message');
  }

  &.-date {
    @include icon('calendar');
  }

  &.-legal {
    @include icon('paragraph');
  }

  &.-number {
    @include icon('list');
  }

  &.-recipient {
    @include icon('man');
  }

  &.-sender {
    @include icon('user');
  }
}
