.nav {
  @include border(left);
  @include transition(right);
  background: $noise;
  min-height: 100%;
  padding: $g;
  position: fixed;
  right: -$nav-width;
  top: 0;
  width: $nav-width;

  &.-visible {
    right: 0;
  }

  p,
  ul {
    margin-bottom: $g;
  }
}

.nav_heading {
  @include typo-scale(2);
  margin-bottom: $g;
}

.nav_subheading {
  @include typo-scale(1);
  margin-bottom: ($g / 2);
}

.nav_link {
  &.-about {
    @include icon('info');
  }

  &.-back {
    @include icon('arrow-with-circle-left');
    font-weight: bold;
  }

  &.-contact {
    @include icon('message');
  }

  &.-date {
    @include icon('calendar');
  }

  &.-legal {
    @include icon('paragraph');
  }

  &.-number {
    @include icon('list');
  }

  &.-recipient {
    @include icon('man');
  }

  &.-sender {
    @include icon('user');
  }
}
