//Das hier muss als Mixin gestaltet werden,
// da die anderen davon erben werden:
.symbol {
  font-style: italic;

  &.-unicode {
    font-family: fontello;
  }
  &.-border-top {
    border-top: 1px solid $text-color;
    padding-top: 2px;
  }
  &.-border-bottom {
    border-bottom: 1px solid $text-color;
    padding: 2px;
    font-size: 80%;
  }
  &.-border-left {
    border-left: 1px solid $text-color;
    padding: 2px;
  }
  &.-border-right {
    border-right: 1px solid $text-color;
    padding: 2px;
  }
  &.-sup {
    position: relative;
    top: -0.5em;
    vertical-align: super;
    margin-left: -0.5em;
    font-size: 80%;
  }
  &.-sub {
    position: relative;
    bottom: -0.5em;
    vertical-align: super;
    margin-left: -0.5em;
    font-size: 80%;
  }
  &.-small-rectangle {
    width: 0.7em;
    height: 0.7em;
    display: inline-block;
    border: 1px solid $text-color;
  }
  &.-big-rectangle {
    width: 1em;
    height: 0.7em;
    display: inline-block;
    border: 1px solid $text-color;
  }
  &.-upper {

  }
}

.symbol_sub {
    border-top: 1px solid $text-color;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: inline-block;
    line-height: 1.4em;
    margin-left: -1.5em;
}

.symbol-frac {
  display: inline-table;
  line-height: 0.5em;
  position: relative;
  top: -0.5em;
}

.symbol-row {
  display: table-row;
  font-size: 80%;
}

.symbol-content {
  display: table-cell;
  text-align: center;
}
