.top-bar {
  padding: ($g / 4) ($g / 4) ($g / 4) (5 * $g);
  background: $alpha-color;
  color: auto-color($alpha-color);

  a {
    color: auto-color($alpha-color);

    @include hover {
      color: auto-color($alpha-color);
    }
  }
}

.top-bar_toggle-nav {
  @include icon('menu', 'right');
  float: right;

  &:before {
    margin-left: .25em;
    font-size: $g;
  }
}
