.top-bar {
  background: $alpha-color;
  color: auto-color($alpha-color);
  padding: ($g / 4) ($g / 4) ($g / 4) (5 * $g);
  text-shadow: 0 -1px 0 $shade-medium;

  a {
    color: white;
    display: inline-block;

    @include hover {
      color: white;
    }
  }
}

.top-bar_right {
  float: right;
}

.top-bar_search {
  margin: floor(-$g / 8) ($g / 2);
  display: inline-block;
  position: relative;
}

.top-bar_search-input {
  background: $highlight-color;
  border-color: $alpha-color;
  padding: floor($g / 8) (1.5 * $g) floor($g / 8) ($g / 4);
  width: 12em;

  &:focus {
    background: white;
  }
}

.top-bar_search-submit {
  @include icon('magnifying-glass', null);
  background: none;
  border-radius: 0;
  box-shadow: none;
  color: $link-color;
  padding: ceil($g / 8);
  position: absolute;
  right: 0;
  top: 0;

  @include hover {
    background: none;
    color: $link-hover-color;
  }
}

.top-bar_toggle-nav {
  @include icon('menu', 'right');
  border-radius: 0;
  box-shadow: none;
  margin: (-$g / 4);
  padding: ($g / 4);

  &:before {
    font-size: $g;
    margin-left: .25em;
  }
}
