.top-bar {
  padding: (.25 * $grid) (.25 * $grid) (.25 * $grid) (5 * $grid);
  background: $alpha-color;
  color: auto-color($alpha-color);

  a {
    color: auto-color($alpha-color);

    @include hover {
      color: auto-color($alpha-color);
    }
  }
}

.top-bar_toggle-nav {
  @include icon('menu', 'right');
  float: right;

  &:before {
    margin-left: .25em;
    font-size: $grid;
  }
}
