.variants {
  @extend %lane;
  background: $shade;
}

.variants_button {
  background: $disabled-color;
  min-width: 4em;

  @include hover {
    background: shade($disabled-color, 20);
  }

  &.-active {
    background: $text-color;
    @extend %variant-backgrounds;

    @include hover {
      background: shade($text-color, 20);
    }
  }

  &.-other {
    @include icon('dots-three-horizontal', false);
  }
}
