.variant {
  @extend %variant-colors;
  @include drop-shadow;
  @include transition(color, background, opacity);
  background: white;
  border-left: $border-width-bold $border-style $border-color-dark;
  border-radius: $br;
  cursor: pointer;
  left: ($g / 2);
  opacity: 0; // set opaque by JS after positioning
  overflow: hidden;
  padding: ($g / 4);
  position: absolute;
  right: ($g / 2);
  top: 0;

  &.-hover {
    color: $link-color;
    transition: none;
  }

  &.-highlight {
    background: $text-color-light;
    color: white;
  }

  &.-visible {
    opacity: 1;
  }

  .eds {
    font-style: italic;
  }

  .source {
    font-weight: bold;

    + .source {
      margin-left: .5em;
    }
  }
}

.variant_type {
  background: $shade;
  border-radius: $br 0 0;
  float: right;
  font-size: $font-size-small;
  line-height: 1;
  margin: ($g / 4) (-$g / 4) (-$g / 4) ($g / 4);
  padding: ($g / 4);

  &.-dark {
    background: $shade-dark;
    color: white;
  }
}
