.variant {
  @extend %variant-colors;
  @include drop-shadow;
  @include transition(color, background, opacity, top);
  background: white;
  border-radius: $br;
  cursor: pointer;
  left: ($g / 2);
  opacity: 0; // set opaque by JS after positioning
  overflow: hidden;
  padding: ($g / 4);
  position: absolute;
  right: ($g / 2);
  transition-duration: .3s;
  z-index: -1;

  &.-hover {
    color: $link-color;
    transition: none;
  }

  &.-highlight {
    background-color: rgb(190, 190, 190) !important;
  }

  &.-visible {
    opacity: 1;
    z-index: 0;
  }

  .eds {
    font-style: italic;
  }

  .reference {
    @include transition(color, background);
    cursor: pointer;
    background: $shade;
    border-radius: $br;
    padding: ($g / 4) 0;

    &.-hover {
      color: $link-color;
      transition: none;
    }

    &.-highlight {
      background-color: rgb(190, 190, 190) !important;
    }

    &.-image {
      background: none;
      cursor: default;
      display: block;
      text-align: center;
      margin: $g 0;
      padding: 0;
    }

  }

  .roundbox {
    border: 1px solid;
    border-radius: 5px 5px;
    margin: 0px 2px;
    padding: 1px 2px;
  }

  .source {
    font-style: italic;
    font-weight: bold;

    + .source {
      margin-left: .5em;
    }
  }

  .to-space {
    letter-spacing: 0.3em;
  }
}

.variant_content {
  display: block;
  padding: 0px;
  padding-bottom: 1.5em;
  margin: 0px;

  @for $i from 0 through 5 {
    &.-shift#{$i} {
      padding-left: #{4 * $i}px;
    }
  }
}

.variant_type {
  background: $shade;
  border-radius: $br 0 0;
  font-size: $font-size-small;
  line-height: 1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: ($g / 4);

  &.-dark {
    background: $shade-dark;
    color: white;
  }
}

@for $i from 0 through 5 {
  .variant_border#{$i} {
    @extend %variant-colors;
    content: " ";
    position: absolute;
    top: 0px;
    left: #{$i * 4}px;
    right: 0px;
    bottom: 0px;
    border-left: $border-width-bold $border-style $border-color-dark;
  }
}
