.variants {
  background: $shade;

  .reference.-image {
    background: none;
    cursor: default;
    display: block;
    text-align: center;
    margin: $g 0;
    padding: 0;
  }

  .-child {
    margin-left: 30px;
  }
}

.variants_button {
  background: $disabled-color;
  min-width: 4em;

  @include hover {
    background: shade($disabled-color, 20);
  }

  &.-active {
    background: $text-color;
    @extend %variant-backgrounds;

    @include hover {
      background: shade($text-color, 20);
    }
  }

  &.-other {
    @include icon('dots-three-horizontal', false);
  }
}
