<header class="lane_header">
  <div class="select-lane-type">
    <span class="select-lane-type_toggle">
      {{t lane.type}}
    </span>
    <div class="select-lane-type_dropdown">
      <ul class="select-lane-type_list">
        {{#each laneTypes as |laneType|}}
          {{#unless (eq laneType lane.type)}}
            <li class="select-lane-type_item">
              <button class="select-lane-type_button">
                {{t laneType}}
              </button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
  </div>
</header>

{{component (concat 'lane-' lane.type) content=content}}

{{yield}}
