<div class="lane">

  <div class="view -minimized">
    <nav class="nav -vertical">
      <ul>
        <li><a href="#" class="nav_button -restore"><span class="popup">{{t 'restore'}}</span></a></li>
      </ul>
    </nav>
  </div>

  <div class="view -default">
    {{outlet "view"}}
  </div>

</div>
