@mixin button($style: 'solid') {
  @include transition(background, color, box-shadow);
  border: 0;
  border-radius: $br;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  min-width: $g;
  padding: 0 ($g / 4);
  text-align: center;

  @if $style == 'shady' {
    background: $shade;
    box-shadow: none;
    color: $link-color;
  } @else {
    background: $link-color;
    box-shadow: 0 (-$border-width) 0 $shade-medium inset;
    color: auto-color($link-color);
    text-shadow: 0 -1px 0 $shade-medium;
  }

  @include hover {
    background: $link-hover-color;
    box-shadow: 0 (-$border-width) 0 $shade-medium inset;
    color: auto-color($link-hover-color);
    text-shadow: 0 -1px 0 $shade-medium;
    transition: none;
  }
}
