// Using Entypo Plus webfont
// https://github.com/chancancode/entypo-plus
// Not managed by bower since app.importing is too much hassle
@mixin icon($name, $position: 'left', $scale: 0) {
  &:before {
    font-family: 'entypo-plus';
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none;
    text-transform: none;
    vertical-align: top;

    @if $scale > 0 {
      font-size: round($font-size * power($ratio, $scale));
      line-height: $g;
    }
  }

  &:before {
    @extend .icon-#{$name};

    @if $position == 'left' {
      margin-right: .5em;
    } @else if $position == 'right' {
      float: right;
      margin-left: .5em;
    }
  }
}
