$transition-duration: .3s !default;
$transition-timing-function: ease-in-out !default;

@mixin transition($properties...) {
  $transitions: ();
  @each $property in $properties {
    $trans: unquote('#{$property} #{$transition-duration} #{$transition-timing-function}');
    $transitions: append($transitions, $trans, comma);
  }
  transition: $transitions;
}
