$typo-scale-offset: 0 !default;
$typo-scale-allow-half-steps: true;

@mixin typo-scale($increment) {
  font-size: round(ms($increment)) + $typo-scale-offset;
  @if $typo-scale-allow-half-steps {
    line-height: floor(ms($increment) / (.5 * $line-height) + 1) * .5 * $line-height;
  } @else {
    line-height: floor(ms($increment) / ($line-height) + 1) * $line-height;
  }
}

// From Chopstick v0.3.3
@function ms($increment, $value: $font-size, $ratio: $ratio) {
  @if $increment > 0 {
    @for $i from 1 through $increment {
      $value: ($value * $ratio);
    }
  } @else {
    $increment: abs($increment);
    @for $i from 1 through $increment {
      $value: ($value / $ratio);
    }
  }
  @return $value
}
