* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: $text-color;
  font: #{$font-size} / #{$g} $font-family;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  @include transition(color, border-color);
  color: $link-color;
  outline: 0;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    transition: none;
  }
}

abbr {
  border-bottom: $border-width dotted;
  cursor: help;
  text-decoration: none;
}

i {
  font-style: italic;
}

h1,
h2,
h3,
p,
ol,
ul,
form,
table {
  margin: 0 0 $g;
}

h1 {
  @include typo-scale(2);
}

h2 {
  @include typo-scale(1);
}

h3,
h4,
h5,
h6 {
  font-size: $font-size;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: 0;
}

[type=search],
[type=text],
[type=url] {
  background: $white;
  border: $border-width solid $border-color;
  border-radius: $br;
  font: inherit;
  padding: ($g / 4);

  &:focus {
    border-color: $link-hover-color;
  }
}

[type=submit] {
  @include transition(background, border-color);
  background: $link-color;
  border: $border-width solid $link-color;
  border-radius: $br;
  color: auto-color($link-color);
  cursor: pointer;
  font: inherit;
  min-width: (1.5 * $g);
  padding: ($g / 4);

  &:hover {
    background: $link-hover-color;
    border-color: $link-hover-color;
  }

  &:active {
    background: $white;
    color: $link-hover-color;
  }
}
