* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: $text-color;
  font: #{$font-size} / #{$g} $font-family;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  @include transition(color, border-color);
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    transition: none;
  }
}

abbr {
  border-bottom: $border-width dotted;
  cursor: help;
  text-decoration: none;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

h1 {
  @include typo-scale(2);
}

h2 {
  @include typo-scale(1);
}

h3,
h4,
h5,
h6 {
  font-size: $font-size;
}

button {
  @include button;

  // Remove 1px border set by Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

input,
select,
textarea {
  @include placeholder-color($text-color-light);
  @include transition(background);
  background: white;
  border: $border-width solid $border-color;
  font: inherit;
  padding: floor($g / 8);

  &:focus {
    border-color: $link-hover-color;
    transition: none;
  }
}

select {
  cursor: pointer;
}
