* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: $text-color;
  font: #{$font-size} / #{$g} $font-family;
  overflow-x: hidden;
  overflow-y: scroll;
}

a {
  @include transition(color, border-color);
  color: $link-color;
  outline: 0;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    transition: none;
  }
}

abbr {
  border-bottom: $border-width dotted;
  cursor: help;
  text-decoration: none;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

h1,
h2,
h3,
p,
ol,
ul,
form,
table {
  margin: 0 0 $g;
}

h1 {
  @include typo-scale(2);
}

h2 {
  @include typo-scale(1);
}

h3,
h4,
h5,
h6 {
  font-size: $font-size;
}

button {
  @include button;

  // Remove 1px border set by Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

[type=search],
[type=text],
[type=url] {
  @include placeholder-color($border-color);
  @include transition(background);
  background: $shade;
  border: 0;
  border-bottom: $border-width-bold solid $link-color;
  font: inherit;
  outline: 0;
  padding: ($g / 4) ($g / 4) ($g / 4 - $border-width-bold);

  &:focus {
    background: $shine;
    border-color: $link-hover-color;
    transition: none;
  }
}
