// Colors
$primary-color: #c90230;
$black: #000;
$white: #fff;

// Named colors
$border-color: #ccc;
$link-color: $primary-color;
$popup-bg-color: $white;
$text-color: #444;
$disabled-color: tint($text-color, 60);

// Dimensions
$ratio: 1.41;
$font-family: Georgia, serif;
$font-size: 16px;
$font-size-small: 14px;
$grid: 28px;
$border-width: 1px;
$border-style: solid;
$line-height: $grid;
$nav-width: (10 * $grid);

// Locations
$img-path: '../img/';

// Others
$noise: url($img-path + 'noise.png');
