// Base colors
$alpha-color: #c90230;
$shade: #f0f0f0;;
$shade-medium: rgba(black, .12);
$shade-dark: rgba(black, .6);
$shine: rgba(white, .3);

// Semantic colors
$bg-color: #f7f7f7;
$lane-bg-color: #fff;
$lane-bg-dark-color: #eee;
$border-color: #ccc;
$border-color-dark: #aaa;
$link-color: $alpha-color;
$link-hover-color: shade($link-color, 30);
$popup-bg-color: white;
$text-color: #444;
$text-color-light: #888;
$disabled-color: tint($text-color, 60);
$highlight-color: shade(white, 6);

// Variant colors
$variant-colors-count: 5;
$variant-colors-hue-step: 360 / ($variant-colors-count + 1);
$variant-color-offset: 90; // degrees
$variant-colors: ();
@for $i from 1 through $variant-colors-count {
  $variant-colors: join($variant-colors, adjust-hue($alpha-color, $i * $variant-colors-hue-step + $variant-color-offset));
}

// Dimensions
$ratio: 1.41;
$font-family: Georgia, serif;
$font-size: 16px;
$font-size-small: 14px;
$g: 28px; // base grid
$u: ($g / 1px); // strip unit
$border-width: 1px;
$border-width-bold: 3px;
$border-style: solid;
$line-height: $g;
$nav-width: (10 * $g);
$br: 3px; // border-radius

$transition-duration: .4s;

// Locations
$img-path: '../img/';

// Others
$noise: url($img-path + 'noise.png');
$card-shadow: 0 0 1px $shade-medium, 0 2px 5px $shade;
