%popup {
  @include drop-shadow;
  @include transition(opacity, z-index);
  background: $popup-bg-color;
  border-radius: $br;
  color: $text-color;
  font-size: $font-size;
  font-style: normal;
  left: 0;
  margin: ($g / 4) 0 0;
  min-width: 12em;
  opacity: 0;
  padding: ($g / 4) ($g / 2);
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: -1;

  &:before {
    background: $popup-bg-color;
    content: '';
    display: block;
    height: ($g / 2);
    left: ($g / 2);
    position: absolute;
    top: (-$g / 6);
    transform: rotate(45deg);
    width: ($g / 2);
  }

  &.-right {
    left: auto;
    right: 0;

    &:before {
      left: auto;
      right: ($g / 2);
    }
  }
}

%popup-visible {
  opacity: 1;
  transition-duration: 0s;
  z-index: 999;
}
