{{#header-container}}
  <div class="header_main">
    <h1 class="header_title">
      404
    </h1>
    <p>{{t 'pageNotFound'}} {{#link-to 'index'}}{{t 'goToStart'}}{{/link-to}}</p>
  </div>
{{/header-container}}
