{{#header-container}}
  <div class="header_main">
    <div class="header_title">
      <h1 class="header_heading">
        404
      </h1>
      <p class="header_info">
        {{t 'pageNotFound'}} {{#link-to 'index'}}{{t 'goToStart'}}{{/link-to}}
      </p>
    </div>
  </div>
{{/header-container}}

{{#footer-container}}
  {{letter-footer}}
{{/footer-container}}
